




  /* Styling for individual cards */
  .card {
    background: linear-gradient(to bottom, rgba(244, 225, 178, 0.51), #874356b8); /* Sandal yellowish gradient */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 10px; /* Add space between cards */
  }
  
  .card h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .card p {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  
  /* Mobile Optimizations */
  @media (max-width: 640px) {
    .home-container {
      padding-top: 10%; /* Reduce top padding */
      padding-bottom: 10%; /* Reduce bottom padding */
    }
  
    .content-container {
      top: 20%; /* Adjust top for mobile */
      bottom: 20%; /* Adjust bottom for mobile */
    }
  
    .card {
      padding: 15px; /* Reduce padding in mobile */
    }
  
    .card h2 {
      font-size: 1.2rem; /* Adjust font size for mobile */
    }
  
    .card p {
      font-size: 0.9rem; /* Adjust font size for mobile */
    }
  }
  

  /* Search input and button styling */
.search-input {
    width: 80%;
    max-width: 400px;
  }
  
  .search-button {
    background-color: #874356b8; /* Initial background color */
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 12px 24px; /* Increase padding for a wider button */
    width: auto; /* Optional: Set to auto for responsiveness */
  }
  
  .search-button:hover {
    background-color: #5e2a47b8; /* Darker shade on hover */
  }
  
  