

  /* Search input and button styling */
.search-input {
    width: 80%;
    max-width: 400px;
  }
  
  .search-button {
    background-color: #874356b8; /* Initial background color */
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 12px 24px; /* Increase padding for a wider button */
    width: auto; /* Optional: Set to auto for responsiveness */
  }
  
  .search-button:hover {
    background-color: #5e2a47b8; 
    /* Darker shade on hover */
  }
  
  


  .card {
    background: linear-gradient(135deg, #874356b8, #ff758c); /* Vibrant gradient */
    padding: 24px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    color: white;
    font-family: 'Poppins', sans-serif;
    position: relative;
    overflow: hidden;
}


.card::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.2), transparent);
    transform: rotate(30deg);
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.card:hover {
    transform: translateY(-8px) scale(1.05);
    box-shadow: 0 15px 30px rgba(255, 117, 140, 0.4);
}


.card:hover::before {
    opacity: 1;
}


.card h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
}


.card p {
    font-size: 1.2rem;
    font-weight: 500;
}


@media (max-width: 640px) {
    .card {
        padding: 18px;
    }

    .card h2 {
        font-size: 1.5rem;
    }

    .card p {
        font-size: 1rem;
    }
}
